<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Book</title>
</head>
<body>
    <form action="#" th:action="@{/api/goodreads/deleteBookSuccess/{readingListId}(readingListId=${readingListId})}" method="post">
        <input type="hidden" name="readingListId" th:value="${readingListId}" />
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        
        <button type="submit">Delete Book</button>
    </form>
</body>
</html>